.App {
  text-align: center;
}
* {
  box-sizing: border-box;
}

body {
  font-family: 'Permanent Marker', cursive;
  background: #00141de1;
}

button, h1{
  font-family: 'Permanent Marker', cursive;
}

.wrapper {
  width: 100%;
  padding: 0 2rem;
  text-align: center;
}
.polaroid {
  background: #fff;
  padding: 1rem ;
  box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.2);
  
}
.polaroid > img{
  max-width: 100%;
  height: auto;
}
.caption {
  font-size: 1.8rem;
  text-align: center;
  line-height: 2em;
}
.item {
  width: 40%;
  
  max-width: 700px;
  display: inline-block;
  
  filter: grayscale(100%);
}
.item .polaroid:before {
  content: '';
  position: absolute;
  z-index: -1;
  transition: all 0.35s;
}
.item:nth-of-type(4n+1) {
  transform: scale(0.8, 0.8) rotate(5deg);
  transition: all 0.35s;
}
.item:nth-of-type(4n+1) .polaroid:before {
  transform: rotate(6deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  right: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.4);
}
.item:nth-of-type(4n+2) {
  transform: scale(0.8, 0.8) rotate(-5deg);
  transition: all 0.35s;
}
.item:nth-of-type(4n+2) .polaroid:before {
  transform: rotate(-6deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  left: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.4);
}
.item:nth-of-type(4n+4) {
  transform: scale(0.8, 0.8) rotate(3deg);
  transition: all 0.35s;
}
.item:nth-of-type(4n+4) .polaroid:before {
  transform: rotate(4deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  right: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.3);
}
.item:nth-of-type(4n+3) {
  transform: scale(0.8, 0.8) rotate(-3deg);
  transition: all 0.35s;
}
.item:nth-of-type(4n+3) .polaroid:before {
  transform: rotate(-4deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  left: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.3);
}
.item:hover {
  filter: none;
  transform: scale(1, 1) rotate(0deg) !important;
  transition: all 0.35s;
}
.item:hover .polaroid:before {
  content: '';
  position: absolute;
  z-index: -1;
  transform: rotate(0deg);
  height: 90%;
  width: 90%;
  bottom: 0%;
  right: 5%;
  box-shadow: 0 1rem 3rem rgba(0,0,0,0.2);
  transition: all 0.35s;
}



h1 {
  background-image: repeating-linear-gradient(to right, #a2682a 0%, #be8c3c 8%, #be8c3c 18%, #d3b15f 27%, #faf0a0 35%, #ffffc2 40%, #faf0a0 50%, #d3b15f 58%, #be8c3c 67%, #b17b32 77%, #bb8332 83%, #d4a245 88%, #e1b453 93%, #a4692a 100%);
  background-size: 150%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
  font-weight: 200;
  
  filter: drop-shadow(0 0 1px rgba(255, 200, 0, .3));
  animation: MoveBackgroundPosition 5s ease-in-out infinite;
}

@keyframes MoveBackgroundPosition { 
  0% {
      background-position: 0% 50%
  }
  
  50% {
    background-position: 100% 50%
  }
  
  100% {
    background-position: 0% 50%
  }
}















html {
  
  overflow: hidden;
}

.particle {
  animation: shoot 3s ease-out infinite;
  animation-name: shoot, fade;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  position: absolute;
  width: 2vw;
  height: 2vw;
}
.particle:nth-child(1) {
  animation-delay: -5.346s;
  background-color: #66ff8a;
  transform: translate(76vw, 18vh) rotate(45deg);
}
.particle:nth-child(2) {
  animation-delay: -1.002s;
  background-color: #66ffb5;
  transform: translate(63vw, 77vh) rotate(45deg);
}
.particle:nth-child(3) {
  animation-delay: -10.3305s;
  background-color: #ebff66;
  transform: translate(26vw, 52vh) rotate(45deg);
}
.particle:nth-child(4) {
  animation-delay: -0.378s;
  background-color: #ffd666;
  transform: translate(7vw, 8vh) rotate(45deg);
}
.particle:nth-child(5) {
  animation-delay: -1.28s;
  background-color: #66ffe3;
  transform: translate(52vw, 27vh) rotate(45deg);
}
.particle:nth-child(6) {
  animation-delay: -1.804s;
  background-color: #ffd666;
  transform: translate(38vw, 73vh) rotate(45deg);
}
.particle:nth-child(7) {
  animation-delay: -1.716s;
  background-color: #ff6673;
  transform: translate(8vw, 87vh) rotate(45deg);
}
.particle:nth-child(8) {
  animation-delay: -1.1475s;
  background-color: #66ffab;
  transform: translate(64vw, 70vh) rotate(45deg);
}
.particle:nth-child(9) {
  animation-delay: -0.8235s;
  background-color: #c766ff;
  transform: translate(48vw, 98vh) rotate(45deg);
}
.particle:nth-child(10) {
  animation-delay: -1.664s;
  background-color: #7a66ff;
  transform: translate(80vw, 60vh) rotate(45deg);
}
.particle:nth-child(11) {
  animation-delay: -4.3575s;
  background-color: #66ff91;
  transform: translate(12vw, 15vh) rotate(45deg);
}
.particle:nth-child(12) {
  animation-delay: -2.4495s;
  background-color: #d9ff66;
  transform: translate(41vw, 16vh) rotate(45deg);
}
.particle:nth-child(13) {
  animation-delay: -0.315s;
  background-color: #6670ff;
  transform: translate(35vw, 45vh) rotate(45deg);
}
.particle:nth-child(14) {
  animation-delay: -3.213s;
  background-color: #7a66ff;
  transform: translate(94vw, 61vh) rotate(45deg);
}
.particle:nth-child(15) {
  animation-delay: -1.904s;
  background-color: #66ff7a;
  transform: translate(87vw, 32vh) rotate(45deg);
}
.particle:nth-child(16) {
  animation-delay: -1.2865s;
  background-color: #7d66ff;
  transform: translate(45vw, 57vh) rotate(45deg);
}
.particle:nth-child(17) {
  animation-delay: -0.4235s;
  background-color: #ff66d1;
  transform: translate(45vw, 89vh) rotate(45deg);
}
.particle:nth-child(18) {
  animation-delay: -4.125s;
  background-color: #6966ff;
  transform: translate(9vw, 44vh) rotate(45deg);
}
.particle:nth-child(19) {
  animation-delay: -0.924s;
  background-color: #ff66db;
  transform: translate(61vw, 44vh) rotate(45deg);
}
.particle:nth-child(20) {
  animation-delay: -4.347s;
  background-color: #66ffbd;
  transform: translate(60vw, 54vh) rotate(45deg);
}
.particle:nth-child(21) {
  animation-delay: -3.36s;
  background-color: #66ff9e;
  transform: translate(96vw, 15vh) rotate(45deg);
}
.particle:nth-child(22) {
  animation-delay: -1.98s;
  background-color: #e3ff66;
  transform: translate(12vw, 90vh) rotate(45deg);
}
.particle:nth-child(23) {
  animation-delay: -0.532s;
  background-color: #d9ff66;
  transform: translate(89vw, 88vh) rotate(45deg);
}
.particle:nth-child(24) {
  animation-delay: -4.956s;
  background-color: #cc66ff;
  transform: translate(44vw, 87vh) rotate(45deg);
}
.particle:nth-child(25) {
  animation-delay: -0.11s;
  background-color: #ad66ff;
  transform: translate(37vw, 6vh) rotate(45deg);
}
.particle:nth-child(26) {
  animation-delay: -0.7955s;
  background-color: #66ffed;
  transform: translate(9vw, 44vh) rotate(45deg);
}
.particle:nth-child(27) {
  animation-delay: -7.0525s;
  background-color: #c9ff66;
  transform: translate(92vw, 36vh) rotate(45deg);
}
.particle:nth-child(28) {
  animation-delay: -7.4865s;
  background-color: #ff668a;
  transform: translate(16vw, 3vh) rotate(45deg);
}
.particle:nth-child(29) {
  animation-delay: -3.267s;
  background-color: #66a8ff;
  transform: translate(56vw, 33vh) rotate(45deg);
}
.particle:nth-child(30) {
  animation-delay: -0.3255s;
  background-color: #b8ff66;
  transform: translate(29vw, 27vh) rotate(45deg);
}
.particle:nth-child(31) {
  animation-delay: -0.8175s;
  background-color: #666eff;
  transform: translate(45vw, 73vh) rotate(45deg);
}
.particle:nth-child(32) {
  animation-delay: -6.1845s;
  background-color: #7566ff;
  transform: translate(96vw, 63vh) rotate(45deg);
}
.particle:nth-child(33) {
  animation-delay: -1.884s;
  background-color: #ff66b3;
  transform: translate(65vw, 33vh) rotate(45deg);
}
.particle:nth-child(34) {
  animation-delay: -1.872s;
  background-color: #ff6699;
  transform: translate(51vw, 70vh) rotate(45deg);
}
.particle:nth-child(35) {
  animation-delay: -5.46s;
  background-color: #66ffcc;
  transform: translate(51vw, 25vh) rotate(45deg);
}
.particle:nth-child(36) {
  animation-delay: -3.312s;
  background-color: #ff66bd;
  transform: translate(24vw, 90vh) rotate(45deg);
}
.particle:nth-child(37) {
  animation-delay: -0.481s;
  background-color: #ff66bf;
  transform: translate(56vw, 55vh) rotate(45deg);
}
.particle:nth-child(38) {
  animation-delay: -6.745s;
  background-color: #ff66de;
  transform: translate(76vw, 16vh) rotate(45deg);
}
.particle:nth-child(39) {
  animation-delay: -6.96s;
  background-color: #ff66d1;
  transform: translate(53vw, 5vh) rotate(45deg);
}
.particle:nth-child(40) {
  animation-delay: -1.54s;
  background-color: #66ffe8;
  transform: translate(80vw, 25vh) rotate(45deg);
}
.particle:nth-child(41) {
  animation-delay: -2.134s;
  background-color: #667aff;
  transform: translate(15vw, 97vh) rotate(45deg);
}
.particle:nth-child(42) {
  animation-delay: -6.435s;
  background-color: #ff66d9;
  transform: translate(59vw, 17vh) rotate(45deg);
}
.particle:nth-child(43) {
  animation-delay: -1.12s;
  background-color: #85ff66;
  transform: translate(87vw, 14vh) rotate(45deg);
}
.particle:nth-child(44) {
  animation-delay: -2.415s;
  background-color: #66f5ff;
  transform: translate(52vw, 75vh) rotate(45deg);
}
.particle:nth-child(45) {
  animation-delay: -2.04s;
  background-color: #7366ff;
  transform: translate(3vw, 86vh) rotate(45deg);
}
.particle:nth-child(46) {
  animation-delay: -1.617s;
  background-color: #dbff66;
  transform: translate(15vw, 27vh) rotate(45deg);
}
.particle:nth-child(47) {
  animation-delay: -2.0025s;
  background-color: #c7ff66;
  transform: translate(26vw, 19vh) rotate(45deg);
}
.particle:nth-child(48) {
  animation-delay: -4.368s;
  background-color: #ff66f0;
  transform: translate(42vw, 73vh) rotate(45deg);
}
.particle:nth-child(49) {
  animation-delay: -2.7295s;
  background-color: #d166ff;
  transform: translate(76vw, 91vh) rotate(45deg);
}
.particle:nth-child(50) {
  animation-delay: -0.984s;
  background-color: #75ff66;
  transform: translate(12vw, 32vh) rotate(45deg);
}
.particle:nth-child(51) {
  animation-delay: -1.562s;
  background-color: #ff6682;
  transform: translate(39vw, 39vh) rotate(45deg);
}
.particle:nth-child(52) {
  animation-delay: -0.8525s;
  background-color: #ffa666;
  transform: translate(23vw, 91vh) rotate(45deg);
}
.particle:nth-child(53) {
  animation-delay: -3.0015s;
  background-color: #669eff;
  transform: translate(75vw, 28vh) rotate(45deg);
}
.particle:nth-child(54) {
  animation-delay: -0.53s;
  background-color: #cf66ff;
  transform: translate(76vw, 94vh) rotate(45deg);
}
.particle:nth-child(55) {
  animation-delay: -9.408s;
  background-color: #ff669e;
  transform: translate(100vw, 65vh) rotate(45deg);
}
.particle:nth-child(56) {
  animation-delay: -5.74s;
  background-color: #66ffed;
  transform: translate(61vw, 28vh) rotate(45deg);
}
.particle:nth-child(57) {
  animation-delay: -2.85s;
  background-color: #b5ff66;
  transform: translate(27vw, 34vh) rotate(45deg);
}
.particle:nth-child(58) {
  animation-delay: -1.343s;
  background-color: #b8ff66;
  transform: translate(45vw, 8vh) rotate(45deg);
}
.particle:nth-child(59) {
  animation-delay: -3.456s;
  background-color: #66ffd9;
  transform: translate(48vw, 5vh) rotate(45deg);
}
.particle:nth-child(60) {
  animation-delay: -1.022s;
  background-color: #ff8066;
  transform: translate(69vw, 52vh) rotate(45deg);
}
.particle:nth-child(61) {
  animation-delay: -2.1675s;
  background-color: #66f0ff;
  transform: translate(88vw, 91vh) rotate(45deg);
}
.particle:nth-child(62) {
  animation-delay: -0.788s;
  background-color: #f266ff;
  transform: translate(85vw, 68vh) rotate(45deg);
}
.particle:nth-child(63) {
  animation-delay: -3.619s;
  background-color: #a866ff;
  transform: translate(27vw, 80vh) rotate(45deg);
}
.particle:nth-child(64) {
  animation-delay: -2.7435s;
  background-color: #ff66ba;
  transform: translate(41vw, 76vh) rotate(45deg);
}
.particle:nth-child(65) {
  animation-delay: -4.141s;
  background-color: #ff66ab;
  transform: translate(57vw, 40vh) rotate(45deg);
}
.particle:nth-child(66) {
  animation-delay: -2.392s;
  background-color: #7a66ff;
  transform: translate(38vw, 82vh) rotate(45deg);
}
.particle:nth-child(67) {
  animation-delay: -4.009s;
  background-color: #ff66de;
  transform: translate(27vw, 96vh) rotate(45deg);
}
.particle:nth-child(68) {
  animation-delay: -2.96s;
  background-color: #668aff;
  transform: translate(38vw, 49vh) rotate(45deg);
}
.particle:nth-child(69) {
  animation-delay: -0.903s;
  background-color: #66ffed;
  transform: translate(9vw, 16vh) rotate(45deg);
}
.particle:nth-child(70) {
  animation-delay: -6.112s;
  background-color: #ff66a1;
  transform: translate(19vw, 58vh) rotate(45deg);
}
.particle:nth-child(71) {
  animation-delay: -4.732s;
  background-color: #a166ff;
  transform: translate(54vw, 36vh) rotate(45deg);
}
.particle:nth-child(72) {
  animation-delay: -10.7415s;
  background-color: #ff6691;
  transform: translate(83vw, 77vh) rotate(45deg);
}
.particle:nth-child(73) {
  animation-delay: -2.15s;
  background-color: #669cff;
  transform: translate(94vw, 1vh) rotate(45deg);
}
.particle:nth-child(74) {
  animation-delay: -7.371s;
  background-color: #66b0ff;
  transform: translate(26vw, 93vh) rotate(45deg);
}
.particle:nth-child(75) {
  animation-delay: -3.3075s;
  background-color: #ffb366;
  transform: translate(83vw, 84vh) rotate(45deg);
}
.particle:nth-child(76) {
  animation-delay: -2.883s;
  background-color: #d466ff;
  transform: translate(66vw, 5vh) rotate(45deg);
}
.particle:nth-child(77) {
  animation-delay: -2.9355s;
  background-color: #ff66f2;
  transform: translate(34vw, 87vh) rotate(45deg);
}
.particle:nth-child(78) {
  animation-delay: -4.1625s;
  background-color: #6694ff;
  transform: translate(44vw, 19vh) rotate(45deg);
}
.particle:nth-child(79) {
  animation-delay: -9.152s;
  background-color: #66ff66;
  transform: translate(6vw, 10vh) rotate(45deg);
}
.particle:nth-child(80) {
  animation-delay: -0.5355s;
  background-color: #a6ff66;
  transform: translate(27vw, 41vh) rotate(45deg);
}
.particle:nth-child(81) {
  animation-delay: -0.372s;
  background-color: #ffb066;
  transform: translate(94vw, 36vh) rotate(45deg);
}
.particle:nth-child(82) {
  animation-delay: -4.619s;
  background-color: #85ff66;
  transform: translate(2vw, 5vh) rotate(45deg);
}
.particle:nth-child(83) {
  animation-delay: -3.29s;
  background-color: #ff6696;
  transform: translate(22vw, 24vh) rotate(45deg);
}
.particle:nth-child(84) {
  animation-delay: -1.281s;
  background-color: #ffbf66;
  transform: translate(45vw, 84vh) rotate(45deg);
}
.particle:nth-child(85) {
  animation-delay: -1.08s;
  background-color: #ff66e8;
  transform: translate(96vw, 99vh) rotate(45deg);
}
.particle:nth-child(86) {
  animation-delay: -5.1345s;
  background-color: #66ffb3;
  transform: translate(81vw, 17vh) rotate(45deg);
}
.particle:nth-child(87) {
  animation-delay: -0.95s;
  background-color: #ff7a66;
  transform: translate(45vw, 31vh) rotate(45deg);
}
.particle:nth-child(88) {
  animation-delay: -4.8s;
  background-color: #ff8a66;
  transform: translate(80vw, 1vh) rotate(45deg);
}
.particle:nth-child(89) {
  animation-delay: -0.276s;
  background-color: #96ff66;
  transform: translate(51vw, 22vh) rotate(45deg);
}
.particle:nth-child(90) {
  animation-delay: -4.1s;
  background-color: #66ff69;
  transform: translate(37vw, 1vh) rotate(45deg);
}
.particle:nth-child(91) {
  animation-delay: -7.22s;
  background-color: #9eff66;
  transform: translate(92vw, 68vh) rotate(45deg);
}
.particle:nth-child(92) {
  animation-delay: -2.9295s;
  background-color: #66ff8a;
  transform: translate(97vw, 53vh) rotate(45deg);
}
.particle:nth-child(93) {
  animation-delay: -2.2885s;
  background-color: #66ff9c;
  transform: translate(16vw, 55vh) rotate(45deg);
}
.particle:nth-child(94) {
  animation-delay: -3.3405s;
  background-color: #ff66a3;
  transform: translate(84vw, 33vh) rotate(45deg);
}
.particle:nth-child(95) {
  animation-delay: -2.755s;
  background-color: #ff6691;
  transform: translate(90vw, 70vh) rotate(45deg);
}
.particle:nth-child(96) {
  animation-delay: -1.53s;
  background-color: #ff9c66;
  transform: translate(39vw, 20vh) rotate(45deg);
}
.particle:nth-child(97) {
  animation-delay: -2.6775s;
  background-color: #73ff66;
  transform: translate(54vw, 65vh) rotate(45deg);
}
.particle:nth-child(98) {
  animation-delay: -0.64s;
  background-color: #66ff9c;
  transform: translate(28vw, 87vh) rotate(45deg);
}
.particle:nth-child(99) {
  animation-delay: -1.705s;
  background-color: #f7ff66;
  transform: translate(32vw, 29vh) rotate(45deg);
}
.particle:nth-child(100) {
  animation-delay: -3.84s;
  background-color: #ff66d9;
  transform: translate(97vw, 74vh) rotate(45deg);
}
.particle:nth-child(101) {
  animation-delay: -3.485s;
  background-color: #91ff66;
  transform: translate(53vw, 57vh) rotate(45deg);
}
.particle:nth-child(102) {
  animation-delay: -0.9425s;
  background-color: #ff66eb;
  transform: translate(80vw, 76vh) rotate(45deg);
}
.particle:nth-child(103) {
  animation-delay: -2.8105s;
  background-color: #a8ff66;
  transform: translate(95vw, 51vh) rotate(45deg);
}
.particle:nth-child(104) {
  animation-delay: -1.3275s;
  background-color: #ffdb66;
  transform: translate(10vw, 18vh) rotate(45deg);
}
.particle:nth-child(105) {
  animation-delay: -0.2295s;
  background-color: #66ffa1;
  transform: translate(63vw, 48vh) rotate(45deg);
}
.particle:nth-child(106) {
  animation-delay: -3.8315s;
  background-color: #66ff91;
  transform: translate(32vw, 45vh) rotate(45deg);
}
.particle:nth-child(107) {
  animation-delay: -7.2075s;
  background-color: #66ffc9;
  transform: translate(69vw, 80vh) rotate(45deg);
}
.particle:nth-child(108) {
  animation-delay: -0.754s;
  background-color: #c2ff66;
  transform: translate(68vw, 68vh) rotate(45deg);
}
.particle:nth-child(109) {
  animation-delay: -5.382s;
  background-color: #ff8766;
  transform: translate(71vw, 64vh) rotate(45deg);
}
.particle:nth-child(110) {
  animation-delay: -5.727s;
  background-color: #8cff66;
  transform: translate(50vw, 48vh) rotate(45deg);
}
.particle:nth-child(111) {
  animation-delay: -5.7035s;
  background-color: #f0ff66;
  transform: translate(69vw, 20vh) rotate(45deg);
}
.particle:nth-child(112) {
  animation-delay: -3.515s;
  background-color: #66ff91;
  transform: translate(84vw, 54vh) rotate(45deg);
}
.particle:nth-child(113) {
  animation-delay: -2.223s;
  background-color: #f566ff;
  transform: translate(90vw, 81vh) rotate(45deg);
}
.particle:nth-child(114) {
  animation-delay: -5.439s;
  background-color: #fffc66;
  transform: translate(63vw, 63vh) rotate(45deg);
}
.particle:nth-child(115) {
  animation-delay: -1.21s;
  background-color: #66ffc4;
  transform: translate(32vw, 92vh) rotate(45deg);
}
.particle:nth-child(116) {
  animation-delay: -2.125s;
  background-color: #fff566;
  transform: translate(63vw, 51vh) rotate(45deg);
}
.particle:nth-child(117) {
  animation-delay: -1.3855s;
  background-color: #de66ff;
  transform: translate(74vw, 36vh) rotate(45deg);
}
.particle:nth-child(118) {
  animation-delay: -6.816s;
  background-color: #66fff7;
  transform: translate(72vw, 23vh) rotate(45deg);
}
.particle:nth-child(119) {
  animation-delay: -1.975s;
  background-color: #66ff9e;
  transform: translate(35vw, 81vh) rotate(45deg);
}
.particle:nth-child(120) {
  animation-delay: -0.858s;
  background-color: #66faff;
  transform: translate(11vw, 35vh) rotate(45deg);
}
.particle:nth-child(121) {
  animation-delay: -4.142s;
  background-color: #80ff66;
  transform: translate(88vw, 5vh) rotate(45deg);
}
.particle:nth-child(122) {
  animation-delay: -0.0395s;
  background-color: #66ffb5;
  transform: translate(97vw, 4vh) rotate(45deg);
}
.particle:nth-child(123) {
  animation-delay: -0.858s;
  background-color: #8f66ff;
  transform: translate(91vw, 6vh) rotate(45deg);
}
.particle:nth-child(124) {
  animation-delay: -0.44s;
  background-color: #ff66c7;
  transform: translate(96vw, 15vh) rotate(45deg);
}
.particle:nth-child(125) {
  animation-delay: -0.442s;
  background-color: #6687ff;
  transform: translate(65vw, 92vh) rotate(45deg);
}
.particle:nth-child(126) {
  animation-delay: -5.3165s;
  background-color: #7866ff;
  transform: translate(98vw, 48vh) rotate(45deg);
}
.particle:nth-child(127) {
  animation-delay: -7.452s;
  background-color: #fffa66;
  transform: translate(84vw, 34vh) rotate(45deg);
}
.particle:nth-child(128) {
  animation-delay: -1.197s;
  background-color: #6670ff;
  transform: translate(2vw, 79vh) rotate(45deg);
}
.particle:nth-child(129) {
  animation-delay: -0.0735s;
  background-color: #e6ff66;
  transform: translate(74vw, 10vh) rotate(45deg);
}
.particle:nth-child(130) {
  animation-delay: -2.625s;
  background-color: #ff9e66;
  transform: translate(4vw, 10vh) rotate(45deg);
}
.particle:nth-child(131) {
  animation-delay: -3.621s;
  background-color: #ff66ad;
  transform: translate(83vw, 12vh) rotate(45deg);
}
.particle:nth-child(132) {
  animation-delay: -0.0555s;
  background-color: #66ffe8;
  transform: translate(14vw, 93vh) rotate(45deg);
}
.particle:nth-child(133) {
  animation-delay: -0.432s;
  background-color: #ff66a3;
  transform: translate(68vw, 20vh) rotate(45deg);
}
.particle:nth-child(134) {
  animation-delay: -9.548s;
  background-color: #ff666b;
  transform: translate(60vw, 86vh) rotate(45deg);
}
.particle:nth-child(135) {
  animation-delay: -3.626s;
  background-color: #ff667a;
  transform: translate(72vw, 67vh) rotate(45deg);
}
.particle:nth-child(136) {
  animation-delay: -7.596s;
  background-color: #ffed66;
  transform: translate(25vw, 46vh) rotate(45deg);
}
.particle:nth-child(137) {
  animation-delay: -5.166s;
  background-color: #ffcf66;
  transform: translate(84vw, 6vh) rotate(45deg);
}
.particle:nth-child(138) {
  animation-delay: -5.275s;
  background-color: #87ff66;
  transform: translate(68vw, 66vh) rotate(45deg);
}
.particle:nth-child(139) {
  animation-delay: -7.104s;
  background-color: #66e8ff;
  transform: translate(96vw, 96vh) rotate(45deg);
}
.particle:nth-child(140) {
  animation-delay: -5.915s;
  background-color: #ff7a66;
  transform: translate(30vw, 62vh) rotate(45deg);
}
.particle:nth-child(141) {
  animation-delay: -9.702s;
  background-color: #ffd466;
  transform: translate(43vw, 69vh) rotate(45deg);
}
.particle:nth-child(142) {
  animation-delay: -1.568s;
  background-color: #f5ff66;
  transform: translate(19vw, 33vh) rotate(45deg);
}
.particle:nth-child(143) {
  animation-delay: -2.451s;
  background-color: #db66ff;
  transform: translate(54vw, 50vh) rotate(45deg);
}
.particle:nth-child(144) {
  animation-delay: -1.845s;
  background-color: #bd66ff;
  transform: translate(85vw, 81vh) rotate(45deg);
}
.particle:nth-child(145) {
  animation-delay: -2.166s;
  background-color: #eb66ff;
  transform: translate(85vw, 56vh) rotate(45deg);
}
.particle:nth-child(146) {
  animation-delay: -2.79s;
  background-color: #cf66ff;
  transform: translate(76vw, 57vh) rotate(45deg);
}
.particle:nth-child(147) {
  animation-delay: -2.2875s;
  background-color: #9c66ff;
  transform: translate(41vw, 43vh) rotate(45deg);
}
.particle:nth-child(148) {
  animation-delay: -6.012s;
  background-color: #c466ff;
  transform: translate(52vw, 82vh) rotate(45deg);
}
.particle:nth-child(149) {
  animation-delay: -2.058s;
  background-color: #ffeb66;
  transform: translate(98vw, 47vh) rotate(45deg);
}
.particle:nth-child(150) {
  animation-delay: -2.5145s;
  background-color: #66ff82;
  transform: translate(29vw, 65vh) rotate(45deg);
}
.particle:nth-child(151) {
  animation-delay: -0.5075s;
  background-color: #fffa66;
  transform: translate(47vw, 35vh) rotate(45deg);
}
.particle:nth-child(152) {
  animation-delay: -0.78s;
  background-color: #6682ff;
  transform: translate(52vw, 96vh) rotate(45deg);
}
.particle:nth-child(153) {
  animation-delay: -1.32s;
  background-color: #ff66c4;
  transform: translate(9vw, 18vh) rotate(45deg);
}
.particle:nth-child(154) {
  animation-delay: -4.543s;
  background-color: #ff8266;
  transform: translate(100vw, 2vh) rotate(45deg);
}
.particle:nth-child(155) {
  animation-delay: -0.23s;
  background-color: #7866ff;
  transform: translate(7vw, 60vh) rotate(45deg);
}
.particle:nth-child(156) {
  animation-delay: -4.7s;
  background-color: #ff6696;
  transform: translate(77vw, 86vh) rotate(45deg);
}
.particle:nth-child(157) {
  animation-delay: -2.9325s;
  background-color: #f2ff66;
  transform: translate(74vw, 87vh) rotate(45deg);
}
.particle:nth-child(158) {
  animation-delay: -1.3475s;
  background-color: #ff66ad;
  transform: translate(5vw, 90vh) rotate(45deg);
}
.particle:nth-child(159) {
  animation-delay: -0.836s;
  background-color: #96ff66;
  transform: translate(29vw, 59vh) rotate(45deg);
}
.particle:nth-child(160) {
  animation-delay: -0.414s;
  background-color: #78ff66;
  transform: translate(18vw, 83vh) rotate(45deg);
}
.particle:nth-child(161) {
  animation-delay: -1.449s;
  background-color: #6678ff;
  transform: translate(86vw, 71vh) rotate(45deg);
}
.particle:nth-child(162) {
  animation-delay: -0.65s;
  background-color: #ffe066;
  transform: translate(35vw, 69vh) rotate(45deg);
}
.particle:nth-child(163) {
  animation-delay: -1.271s;
  background-color: #8566ff;
  transform: translate(47vw, 98vh) rotate(45deg);
}
.particle:nth-child(164) {
  animation-delay: -0.363s;
  background-color: #66baff;
  transform: translate(74vw, 35vh) rotate(45deg);
}
.particle:nth-child(165) {
  animation-delay: -3.57s;
  background-color: #ff66de;
  transform: translate(72vw, 34vh) rotate(45deg);
}
.particle:nth-child(166) {
  animation-delay: -2.494s;
  background-color: #ff66eb;
  transform: translate(58vw, 17vh) rotate(45deg);
}
.particle:nth-child(167) {
  animation-delay: -2.666s;
  background-color: #66b8ff;
  transform: translate(59vw, 23vh) rotate(45deg);
}
.particle:nth-child(168) {
  animation-delay: -0.292s;
  background-color: #ffa866;
  transform: translate(80vw, 73vh) rotate(45deg);
}
.particle:nth-child(169) {
  animation-delay: -0.943s;
  background-color: #ffc466;
  transform: translate(91vw, 2vh) rotate(45deg);
}
.particle:nth-child(170) {
  animation-delay: -9.45s;
  background-color: #e3ff66;
  transform: translate(98vw, 66vh) rotate(45deg);
}
.particle:nth-child(171) {
  animation-delay: -7.272s;
  background-color: #66ff99;
  transform: translate(10vw, 30vh) rotate(45deg);
}
.particle:nth-child(172) {
  animation-delay: -0.988s;
  background-color: #f0ff66;
  transform: translate(65vw, 84vh) rotate(45deg);
}
.particle:nth-child(173) {
  animation-delay: -1.071s;
  background-color: #668aff;
  transform: translate(56vw, 24vh) rotate(45deg);
}
.particle:nth-child(174) {
  animation-delay: -1.872s;
  background-color: #669cff;
  transform: translate(88vw, 48vh) rotate(45deg);
}
.particle:nth-child(175) {
  animation-delay: -5.427s;
  background-color: #66ffdb;
  transform: translate(5vw, 7vh) rotate(45deg);
}
.particle:nth-child(176) {
  animation-delay: -6.4395s;
  background-color: #6669ff;
  transform: translate(7vw, 81vh) rotate(45deg);
}
.particle:nth-child(177) {
  animation-delay: -9.0545s;
  background-color: #7866ff;
  transform: translate(59vw, 80vh) rotate(45deg);
}
.particle:nth-child(178) {
  animation-delay: -8.7s;
  background-color: #66edff;
  transform: translate(12vw, 65vh) rotate(45deg);
}
.particle:nth-child(179) {
  animation-delay: -7.6995s;
  background-color: #6bff66;
  transform: translate(83vw, 87vh) rotate(45deg);
}
.particle:nth-child(180) {
  animation-delay: -2.706s;
  background-color: #7566ff;
  transform: translate(38vw, 55vh) rotate(45deg);
}
.particle:nth-child(181) {
  animation-delay: -7.743s;
  background-color: #f066ff;
  transform: translate(75vw, 72vh) rotate(45deg);
}
.particle:nth-child(182) {
  animation-delay: -2.6s;
  background-color: #6699ff;
  transform: translate(35vw, 60vh) rotate(45deg);
}
.particle:nth-child(183) {
  animation-delay: -0.693s;
  background-color: #a1ff66;
  transform: translate(16vw, 68vh) rotate(45deg);
}
.particle:nth-child(184) {
  animation-delay: -6.1305s;
  background-color: #ff66c4;
  transform: translate(12vw, 41vh) rotate(45deg);
}
.particle:nth-child(185) {
  animation-delay: -0.84s;
  background-color: #73ff66;
  transform: translate(5vw, 49vh) rotate(45deg);
}
.particle:nth-child(186) {
  animation-delay: -1.2495s;
  background-color: #ff667d;
  transform: translate(25vw, 68vh) rotate(45deg);
}
.particle:nth-child(187) {
  animation-delay: -5.535s;
  background-color: #abff66;
  transform: translate(89vw, 25vh) rotate(45deg);
}
.particle:nth-child(188) {
  animation-delay: -7.1775s;
  background-color: #7866ff;
  transform: translate(16vw, 76vh) rotate(45deg);
}
.particle:nth-child(189) {
  animation-delay: -1.1715s;
  background-color: #66ffb3;
  transform: translate(18vw, 24vh) rotate(45deg);
}
.particle:nth-child(190) {
  animation-delay: -0.986s;
  background-color: #66faff;
  transform: translate(100vw, 85vh) rotate(45deg);
}
.particle:nth-child(191) {
  animation-delay: -5.022s;
  background-color: #66f5ff;
  transform: translate(31vw, 68vh) rotate(45deg);
}
.particle:nth-child(192) {
  animation-delay: -9.6915s;
  background-color: #c266ff;
  transform: translate(36vw, 60vh) rotate(45deg);
}
.particle:nth-child(193) {
  animation-delay: -3.15s;
  background-color: #ffd666;
  transform: translate(55vw, 48vh) rotate(45deg);
}
.particle:nth-child(194) {
  animation-delay: -6.37s;
  background-color: #66ff78;
  transform: translate(68vw, 74vh) rotate(45deg);
}
.particle:nth-child(195) {
  animation-delay: -8.742s;
  background-color: #ffd466;
  transform: translate(1vw, 51vh) rotate(45deg);
}
.particle:nth-child(196) {
  animation-delay: -0.147s;
  background-color: #ffe066;
  transform: translate(11vw, 64vh) rotate(45deg);
}
.particle:nth-child(197) {
  animation-delay: -4.418s;
  background-color: #99ff66;
  transform: translate(9vw, 8vh) rotate(45deg);
}
.particle:nth-child(198) {
  animation-delay: -0.5705s;
  background-color: #6669ff;
  transform: translate(84vw, 37vh) rotate(45deg);
}
.particle:nth-child(199) {
  animation-delay: -7.28s;
  background-color: #e0ff66;
  transform: translate(68vw, 7vh) rotate(45deg);
}
.particle:nth-child(200) {
  animation-delay: -0.323s;
  background-color: #6673ff;
  transform: translate(28vw, 47vh) rotate(45deg);
}
.particle:nth-child(201) {
  animation-delay: -1.6385s;
  background-color: #66ffc9;
  transform: translate(22vw, 3vh) rotate(45deg);
}
.particle:nth-child(202) {
  animation-delay: -1.33s;
  background-color: #ff66b5;
  transform: translate(3vw, 58vh) rotate(45deg);
}
.particle:nth-child(203) {
  animation-delay: -0.135s;
  background-color: #66d9ff;
  transform: translate(76vw, 69vh) rotate(45deg);
}
.particle:nth-child(204) {
  animation-delay: -0.286s;
  background-color: #9c66ff;
  transform: translate(84vw, 96vh) rotate(45deg);
}
.particle:nth-child(205) {
  animation-delay: -3.454s;
  background-color: #66ffba;
  transform: translate(24vw, 98vh) rotate(45deg);
}
.particle:nth-child(206) {
  animation-delay: -0.903s;
  background-color: #ff6e66;
  transform: translate(15vw, 41vh) rotate(45deg);
}
.particle:nth-child(207) {
  animation-delay: -0.476s;
  background-color: #66e3ff;
  transform: translate(52vw, 58vh) rotate(45deg);
}
.particle:nth-child(208) {
  animation-delay: -3.567s;
  background-color: #eb66ff;
  transform: translate(60vw, 33vh) rotate(45deg);
}
.particle:nth-child(209) {
  animation-delay: -0.957s;
  background-color: #666bff;
  transform: translate(35vw, 62vh) rotate(45deg);
}
.particle:nth-child(210) {
  animation-delay: -2.0445s;
  background-color: #66e0ff;
  transform: translate(83vw, 35vh) rotate(45deg);
}
.particle:nth-child(211) {
  animation-delay: -3.1175s;
  background-color: #b566ff;
  transform: translate(89vw, 70vh) rotate(45deg);
}
.particle:nth-child(212) {
  animation-delay: -4.223s;
  background-color: #78ff66;
  transform: translate(65vw, 92vh) rotate(45deg);
}
.particle:nth-child(213) {
  animation-delay: -1.674s;
  background-color: #9cff66;
  transform: translate(64vw, 24vh) rotate(45deg);
}
.particle:nth-child(214) {
  animation-delay: -1.139s;
  background-color: #9466ff;
  transform: translate(49vw, 17vh) rotate(45deg);
}
.particle:nth-child(215) {
  animation-delay: -2.8525s;
  background-color: #70ff66;
  transform: translate(95vw, 41vh) rotate(45deg);
}
.particle:nth-child(216) {
  animation-delay: -8.4s;
  background-color: #ff667d;
  transform: translate(52vw, 81vh) rotate(45deg);
}
.particle:nth-child(217) {
  animation-delay: -2.268s;
  background-color: #9cff66;
  transform: translate(76vw, 95vh) rotate(45deg);
}
.particle:nth-child(218) {
  animation-delay: -8.385s;
  background-color: #9966ff;
  transform: translate(97vw, 4vh) rotate(45deg);
}
.particle:nth-child(219) {
  animation-delay: -4.301s;
  background-color: #ffd966;
  transform: translate(69vw, 57vh) rotate(45deg);
}
.particle:nth-child(220) {
  animation-delay: -1.075s;
  background-color: #c766ff;
  transform: translate(52vw, 43vh) rotate(45deg);
}
.particle:nth-child(221) {
  animation-delay: -1.001s;
  background-color: #ff66d6;
  transform: translate(97vw, 78vh) rotate(45deg);
}
.particle:nth-child(222) {
  animation-delay: -0.3195s;
  background-color: #f066ff;
  transform: translate(90vw, 90vh) rotate(45deg);
}
.particle:nth-child(223) {
  animation-delay: -2.0475s;
  background-color: #66ff73;
  transform: translate(3vw, 52vh) rotate(45deg);
}
.particle:nth-child(224) {
  animation-delay: -6.6605s;
  background-color: #a666ff;
  transform: translate(14vw, 1vh) rotate(45deg);
}
.particle:nth-child(225) {
  animation-delay: -0.2695s;
  background-color: #ff66eb;
  transform: translate(20vw, 38vh) rotate(45deg);
}
.particle:nth-child(226) {
  animation-delay: -7.448s;
  background-color: #ff66c7;
  transform: translate(1vw, 26vh) rotate(45deg);
}
.particle:nth-child(227) {
  animation-delay: -1.41s;
  background-color: #ffcf66;
  transform: translate(85vw, 29vh) rotate(45deg);
}
.particle:nth-child(228) {
  animation-delay: -5.796s;
  background-color: #ff6694;
  transform: translate(8vw, 13vh) rotate(45deg);
}
.particle:nth-child(229) {
  animation-delay: -1.26s;
  background-color: #6685ff;
  transform: translate(21vw, 67vh) rotate(45deg);
}
.particle:nth-child(230) {
  animation-delay: -0.744s;
  background-color: #66ff80;
  transform: translate(83vw, 46vh) rotate(45deg);
}
.particle:nth-child(231) {
  animation-delay: -2.328s;
  background-color: #ff66ba;
  transform: translate(92vw, 83vh) rotate(45deg);
}
.particle:nth-child(232) {
  animation-delay: -4.469s;
  background-color: #6966ff;
  transform: translate(77vw, 82vh) rotate(45deg);
}
.particle:nth-child(233) {
  animation-delay: -7.474s;
  background-color: #a6ff66;
  transform: translate(95vw, 67vh) rotate(45deg);
}
.particle:nth-child(234) {
  animation-delay: -0.882s;
  background-color: #ff666b;
  transform: translate(88vw, 73vh) rotate(45deg);
}
.particle:nth-child(235) {
  animation-delay: -9.653s;
  background-color: #ffd666;
  transform: translate(11vw, 80vh) rotate(45deg);
}
.particle:nth-child(236) {
  animation-delay: -2.262s;
  background-color: #ff66ff;
  transform: translate(37vw, 44vh) rotate(45deg);
}
.particle:nth-child(237) {
  animation-delay: -1.0545s;
  background-color: #d166ff;
  transform: translate(77vw, 93vh) rotate(45deg);
}
.particle:nth-child(238) {
  animation-delay: -1.517s;
  background-color: #66ff78;
  transform: translate(66vw, 65vh) rotate(45deg);
}
.particle:nth-child(239) {
  animation-delay: -3.872s;
  background-color: #66e6ff;
  transform: translate(62vw, 61vh) rotate(45deg);
}
.particle:nth-child(240) {
  animation-delay: -2.185s;
  background-color: #66b5ff;
  transform: translate(43vw, 57vh) rotate(45deg);
}
.particle:nth-child(241) {
  animation-delay: -0.884s;
  background-color: #ff66c2;
  transform: translate(99vw, 45vh) rotate(45deg);
}
.particle:nth-child(242) {
  animation-delay: -0.5265s;
  background-color: #66ff66;
  transform: translate(48vw, 73vh) rotate(45deg);
}
.particle:nth-child(243) {
  animation-delay: -2.088s;
  background-color: #cf66ff;
  transform: translate(27vw, 97vh) rotate(45deg);
}
.particle:nth-child(244) {
  animation-delay: -1.84s;
  background-color: #ffba66;
  transform: translate(74vw, 15vh) rotate(45deg);
}
.particle:nth-child(245) {
  animation-delay: -0.6055s;
  background-color: #66ff9e;
  transform: translate(17vw, 72vh) rotate(45deg);
}
.particle:nth-child(246) {
  animation-delay: -4.118s;
  background-color: #66ffb5;
  transform: translate(85vw, 20vh) rotate(45deg);
}
.particle:nth-child(247) {
  animation-delay: -5.5055s;
  background-color: #7866ff;
  transform: translate(58vw, 19vh) rotate(45deg);
}
.particle:nth-child(248) {
  animation-delay: -1.26s;
  background-color: #66ffd1;
  transform: translate(70vw, 72vh) rotate(45deg);
}
.particle:nth-child(249) {
  animation-delay: -0.0925s;
  background-color: #ff66cc;
  transform: translate(51vw, 33vh) rotate(45deg);
}
.particle:nth-child(250) {
  animation-delay: -1.242s;
  background-color: #ff66b5;
  transform: translate(53vw, 47vh) rotate(45deg);
}
.particle:nth-child(251) {
  animation-delay: -3.885s;
  background-color: #66ffe0;
  transform: translate(30vw, 41vh) rotate(45deg);
}
.particle:nth-child(252) {
  animation-delay: -6.336s;
  background-color: #ebff66;
  transform: translate(47vw, 43vh) rotate(45deg);
}
.particle:nth-child(253) {
  animation-delay: -3.41s;
  background-color: #ffa666;
  transform: translate(68vw, 98vh) rotate(45deg);
}
.particle:nth-child(254) {
  animation-delay: -2.8325s;
  background-color: #e8ff66;
  transform: translate(36vw, 44vh) rotate(45deg);
}
.particle:nth-child(255) {
  animation-delay: -0.0945s;
  background-color: #ff66f2;
  transform: translate(84vw, 48vh) rotate(45deg);
}
.particle:nth-child(256) {
  animation-delay: -4.81s;
  background-color: #66ff7d;
  transform: translate(37vw, 10vh) rotate(45deg);
}
.particle:nth-child(257) {
  animation-delay: -1.558s;
  background-color: #66a3ff;
  transform: translate(18vw, 38vh) rotate(45deg);
}
.particle:nth-child(258) {
  animation-delay: -1.995s;
  background-color: #6685ff;
  transform: translate(79vw, 61vh) rotate(45deg);
}
.particle:nth-child(259) {
  animation-delay: -1.144s;
  background-color: #66ffeb;
  transform: translate(67vw, 21vh) rotate(45deg);
}
.particle:nth-child(260) {
  animation-delay: -1.89s;
  background-color: #9e66ff;
  transform: translate(46vw, 59vh) rotate(45deg);
}
.particle:nth-child(261) {
  animation-delay: -3.48s;
  background-color: #ff6691;
  transform: translate(69vw, 33vh) rotate(45deg);
}
.particle:nth-child(262) {
  animation-delay: -3.927s;
  background-color: #ffdb66;
  transform: translate(53vw, 47vh) rotate(45deg);
}
.particle:nth-child(263) {
  animation-delay: -1.624s;
  background-color: #66ffb8;
  transform: translate(66vw, 96vh) rotate(45deg);
}
.particle:nth-child(264) {
  animation-delay: -0.27s;
  background-color: #fffa66;
  transform: translate(58vw, 62vh) rotate(45deg);
}
.particle:nth-child(265) {
  animation-delay: -1.416s;
  background-color: #ffba66;
  transform: translate(34vw, 19vh) rotate(45deg);
}
.particle:nth-child(266) {
  animation-delay: -8.418s;
  background-color: #ff6669;
  transform: translate(1vw, 66vh) rotate(45deg);
}
.particle:nth-child(267) {
  animation-delay: -9.5325s;
  background-color: #ffd166;
  transform: translate(24vw, 33vh) rotate(45deg);
}
.particle:nth-child(268) {
  animation-delay: -3.562s;
  background-color: #8a66ff;
  transform: translate(10vw, 61vh) rotate(45deg);
}
.particle:nth-child(269) {
  animation-delay: -2.059s;
  background-color: #dbff66;
  transform: translate(47vw, 15vh) rotate(45deg);
}
.particle:nth-child(270) {
  animation-delay: -0.693s;
  background-color: #70ff66;
  transform: translate(62vw, 98vh) rotate(45deg);
}
.particle:nth-child(271) {
  animation-delay: -1.136s;
  background-color: #6666ff;
  transform: translate(80vw, 32vh) rotate(45deg);
}
.particle:nth-child(272) {
  animation-delay: -1.386s;
  background-color: #66d4ff;
  transform: translate(11vw, 60vh) rotate(45deg);
}
.particle:nth-child(273) {
  animation-delay: -4.635s;
  background-color: #9666ff;
  transform: translate(18vw, 15vh) rotate(45deg);
}
.particle:nth-child(274) {
  animation-delay: -0.72s;
  background-color: #667aff;
  transform: translate(73vw, 80vh) rotate(45deg);
}
.particle:nth-child(275) {
  animation-delay: -0.803s;
  background-color: #ebff66;
  transform: translate(31vw, 69vh) rotate(45deg);
}
.particle:nth-child(276) {
  animation-delay: -0.644s;
  background-color: #d4ff66;
  transform: translate(68vw, 65vh) rotate(45deg);
}
.particle:nth-child(277) {
  animation-delay: -1.1745s;
  background-color: #668cff;
  transform: translate(1vw, 88vh) rotate(45deg);
}
.particle:nth-child(278) {
  animation-delay: -7.56s;
  background-color: #d666ff;
  transform: translate(3vw, 2vh) rotate(45deg);
}
.particle:nth-child(279) {
  animation-delay: -1.911s;
  background-color: #66fff7;
  transform: translate(44vw, 95vh) rotate(45deg);
}
.particle:nth-child(280) {
  animation-delay: -2.7825s;
  background-color: #ff66eb;
  transform: translate(69vw, 99vh) rotate(45deg);
}
.particle:nth-child(281) {
  animation-delay: -6.042s;
  background-color: #cfff66;
  transform: translate(16vw, 50vh) rotate(45deg);
}
.particle:nth-child(282) {
  animation-delay: -1.728s;
  background-color: #ff66b5;
  transform: translate(100vw, 22vh) rotate(45deg);
}
.particle:nth-child(283) {
  animation-delay: -0.4025s;
  background-color: #66ff8a;
  transform: translate(17vw, 76vh) rotate(45deg);
}
.particle:nth-child(284) {
  animation-delay: -10.494s;
  background-color: #adff66;
  transform: translate(94vw, 87vh) rotate(45deg);
}
.particle:nth-child(285) {
  animation-delay: -3.458s;
  background-color: #66fff7;
  transform: translate(21vw, 65vh) rotate(45deg);
}
.particle:nth-child(286) {
  animation-delay: -0.5115s;
  background-color: #ff66a3;
  transform: translate(17vw, 18vh) rotate(45deg);
}
.particle:nth-child(287) {
  animation-delay: -1.9475s;
  background-color: #66d4ff;
  transform: translate(59vw, 25vh) rotate(45deg);
}
.particle:nth-child(288) {
  animation-delay: -1.716s;
  background-color: #66b5ff;
  transform: translate(55vw, 76vh) rotate(45deg);
}
.particle:nth-child(289) {
  animation-delay: -0.918s;
  background-color: #ffa166;
  transform: translate(90vw, 48vh) rotate(45deg);
}
.particle:nth-child(290) {
  animation-delay: -0.72s;
  background-color: #ff66eb;
  transform: translate(48vw, 3vh) rotate(45deg);
}
.particle:nth-child(291) {
  animation-delay: -0.7035s;
  background-color: #ff8f66;
  transform: translate(93vw, 64vh) rotate(45deg);
}
.particle:nth-child(292) {
  animation-delay: -1.554s;
  background-color: #a1ff66;
  transform: translate(50vw, 68vh) rotate(45deg);
}
.particle:nth-child(293) {
  animation-delay: -4.1785s;
  background-color: #ffeb66;
  transform: translate(9vw, 94vh) rotate(45deg);
}
.particle:nth-child(294) {
  animation-delay: -3.034s;
  background-color: #d9ff66;
  transform: translate(95vw, 100vh) rotate(45deg);
}
.particle:nth-child(295) {
  animation-delay: -1.4145s;
  background-color: #66ffa1;
  transform: translate(67vw, 53vh) rotate(45deg);
}
.particle:nth-child(296) {
  animation-delay: -0.638s;
  background-color: #ffb066;
  transform: translate(30vw, 76vh) rotate(45deg);
}
.particle:nth-child(297) {
  animation-delay: -6.086s;
  background-color: #ff8c66;
  transform: translate(73vw, 34vh) rotate(45deg);
}
.particle:nth-child(298) {
  animation-delay: -2.262s;
  background-color: #66ffc9;
  transform: translate(9vw, 95vh) rotate(45deg);
}
.particle:nth-child(299) {
  animation-delay: -2.19s;
  background-color: #66ffdb;
  transform: translate(92vw, 16vh) rotate(45deg);
}
.particle:nth-child(300) {
  animation-delay: -0.462s;
  background-color: #66a6ff;
  transform: translate(86vw, 34vh) rotate(45deg);
}
.particle:nth-child(301) {
  animation-delay: -2.225s;
  background-color: #ffbf66;
  transform: translate(98vw, 46vh) rotate(45deg);
}
.particle:nth-child(302) {
  animation-delay: -1.224s;
  background-color: #66b0ff;
  transform: translate(11vw, 69vh) rotate(45deg);
}
.particle:nth-child(303) {
  animation-delay: -1.054s;
  background-color: #ff6685;
  transform: translate(96vw, 14vh) rotate(45deg);
}
.particle:nth-child(304) {
  animation-delay: -2.56s;
  background-color: #c2ff66;
  transform: translate(59vw, 26vh) rotate(45deg);
}
.particle:nth-child(305) {
  animation-delay: -4.437s;
  background-color: #ff66a1;
  transform: translate(33vw, 18vh) rotate(45deg);
}
.particle:nth-child(306) {
  animation-delay: -5.7475s;
  background-color: #66ffe0;
  transform: translate(39vw, 10vh) rotate(45deg);
}
.particle:nth-child(307) {
  animation-delay: -0.5265s;
  background-color: #ff66de;
  transform: translate(24vw, 77vh) rotate(45deg);
}
.particle:nth-child(308) {
  animation-delay: -6.6465s;
  background-color: #6699ff;
  transform: translate(28vw, 11vh) rotate(45deg);
}
.particle:nth-child(309) {
  animation-delay: -3.108s;
  background-color: #8566ff;
  transform: translate(71vw, 48vh) rotate(45deg);
}
.particle:nth-child(310) {
  animation-delay: -6.1625s;
  background-color: #66ebff;
  transform: translate(43vw, 58vh) rotate(45deg);
}
.particle:nth-child(311) {
  animation-delay: -2.964s;
  background-color: #e8ff66;
  transform: translate(30vw, 97vh) rotate(45deg);
}
.particle:nth-child(312) {
  animation-delay: -4.901s;
  background-color: #ff7366;
  transform: translate(32vw, 18vh) rotate(45deg);
}
.particle:nth-child(313) {
  animation-delay: -0.426s;
  background-color: #7d66ff;
  transform: translate(61vw, 39vh) rotate(45deg);
}
.particle:nth-child(314) {
  animation-delay: -1.683s;
  background-color: #f7ff66;
  transform: translate(99vw, 89vh) rotate(45deg);
}
.particle:nth-child(315) {
  animation-delay: -4.557s;
  background-color: #8066ff;
  transform: translate(22vw, 86vh) rotate(45deg);
}
.particle:nth-child(316) {
  animation-delay: -2.1165s;
  background-color: #ff6e66;
  transform: translate(11vw, 72vh) rotate(45deg);
}
.particle:nth-child(317) {
  animation-delay: -2.97s;
  background-color: #e066ff;
  transform: translate(12vw, 96vh) rotate(45deg);
}
.particle:nth-child(318) {
  animation-delay: -5.335s;
  background-color: #a6ff66;
  transform: translate(43vw, 97vh) rotate(45deg);
}
.particle:nth-child(319) {
  animation-delay: -6.8335s;
  background-color: #d966ff;
  transform: translate(4vw, 28vh) rotate(45deg);
}
.particle:nth-child(320) {
  animation-delay: -10.088s;
  background-color: #66dbff;
  transform: translate(93vw, 6vh) rotate(45deg);
}
.particle:nth-child(321) {
  animation-delay: -6.279s;
  background-color: #66ffc4;
  transform: translate(41vw, 72vh) rotate(45deg);
}
.particle:nth-child(322) {
  animation-delay: -7.632s;
  background-color: #66f0ff;
  transform: translate(42vw, 97vh) rotate(45deg);
}
.particle:nth-child(323) {
  animation-delay: -0.775s;
  background-color: #66ff99;
  transform: translate(16vw, 52vh) rotate(45deg);
}
.particle:nth-child(324) {
  animation-delay: -10.05s;
  background-color: #ff9166;
  transform: translate(79vw, 72vh) rotate(45deg);
}
.particle:nth-child(325) {
  animation-delay: -0.848s;
  background-color: #ffeb66;
  transform: translate(47vw, 19vh) rotate(45deg);
}
.particle:nth-child(326) {
  animation-delay: -2.597s;
  background-color: #ffb366;
  transform: translate(12vw, 77vh) rotate(45deg);
}
.particle:nth-child(327) {
  animation-delay: -7.743s;
  background-color: #edff66;
  transform: translate(33vw, 12vh) rotate(45deg);
}
.particle:nth-child(328) {
  animation-delay: -3.3s;
  background-color: #ff9e66;
  transform: translate(15vw, 95vh) rotate(45deg);
}
.particle:nth-child(329) {
  animation-delay: -1.744s;
  background-color: #ff66e0;
  transform: translate(10vw, 9vh) rotate(45deg);
}
.particle:nth-child(330) {
  animation-delay: -0.884s;
  background-color: #78ff66;
  transform: translate(69vw, 82vh) rotate(45deg);
}
.particle:nth-child(331) {
  animation-delay: -0.64s;
  background-color: #9466ff;
  transform: translate(25vw, 41vh) rotate(45deg);
}
.particle:nth-child(332) {
  animation-delay: -0.062s;
  background-color: #66ff8a;
  transform: translate(4vw, 48vh) rotate(45deg);
}
.particle:nth-child(333) {
  animation-delay: -3.075s;
  background-color: #66adff;
  transform: translate(55vw, 38vh) rotate(45deg);
}
.particle:nth-child(334) {
  animation-delay: -5.644s;
  background-color: #66ffb3;
  transform: translate(33vw, 64vh) rotate(45deg);
}
.particle:nth-child(335) {
  animation-delay: -3.456s;
  background-color: #66ffa6;
  transform: translate(15vw, 95vh) rotate(45deg);
}
.particle:nth-child(336) {
  animation-delay: -3.432s;
  background-color: #66ffe8;
  transform: translate(65vw, 19vh) rotate(45deg);
}
.particle:nth-child(337) {
  animation-delay: -8.352s;
  background-color: #66ff80;
  transform: translate(63vw, 54vh) rotate(45deg);
}
.particle:nth-child(338) {
  animation-delay: -2.72s;
  background-color: #66a1ff;
  transform: translate(26vw, 7vh) rotate(45deg);
}
.particle:nth-child(339) {
  animation-delay: -0.276s;
  background-color: #ff6685;
  transform: translate(64vw, 67vh) rotate(45deg);
}
.particle:nth-child(340) {
  animation-delay: -0.0675s;
  background-color: #66adff;
  transform: translate(80vw, 77vh) rotate(45deg);
}
.particle:nth-child(341) {
  animation-delay: -3.604s;
  background-color: #ff9966;
  transform: translate(37vw, 76vh) rotate(45deg);
}
.particle:nth-child(342) {
  animation-delay: -2.752s;
  background-color: #66ff96;
  transform: translate(18vw, 87vh) rotate(45deg);
}
.particle:nth-child(343) {
  animation-delay: -0.3925s;
  background-color: #ff66ba;
  transform: translate(3vw, 70vh) rotate(45deg);
}
.particle:nth-child(344) {
  animation-delay: -0.3975s;
  background-color: #faff66;
  transform: translate(67vw, 10vh) rotate(45deg);
}
.particle:nth-child(345) {
  animation-delay: -2.0475s;
  background-color: #ff66ed;
  transform: translate(74vw, 93vh) rotate(45deg);
}
.particle:nth-child(346) {
  animation-delay: -7.242s;
  background-color: #66ffd6;
  transform: translate(90vw, 48vh) rotate(45deg);
}
.particle:nth-child(347) {
  animation-delay: -2.0875s;
  background-color: #ffe666;
  transform: translate(13vw, 40vh) rotate(45deg);
}
.particle:nth-child(348) {
  animation-delay: -1.53s;
  background-color: #fff766;
  transform: translate(29vw, 66vh) rotate(45deg);
}
.particle:nth-child(349) {
  animation-delay: -1.075s;
  background-color: #e8ff66;
  transform: translate(76vw, 53vh) rotate(45deg);
}
.particle:nth-child(350) {
  animation-delay: -2.225s;
  background-color: #b566ff;
  transform: translate(7vw, 66vh) rotate(45deg);
}
.particle:nth-child(351) {
  animation-delay: -0.522s;
  background-color: #b5ff66;
  transform: translate(11vw, 16vh) rotate(45deg);
}
.particle:nth-child(352) {
  animation-delay: -6.8255s;
  background-color: #ff6678;
  transform: translate(92vw, 52vh) rotate(45deg);
}
.particle:nth-child(353) {
  animation-delay: -3.237s;
  background-color: #ff66cc;
  transform: translate(43vw, 16vh) rotate(45deg);
}
.particle:nth-child(354) {
  animation-delay: -0.7015s;
  background-color: #66ff9e;
  transform: translate(100vw, 36vh) rotate(45deg);
}
.particle:nth-child(355) {
  animation-delay: -5.037s;
  background-color: #e366ff;
  transform: translate(51vw, 49vh) rotate(45deg);
}
.particle:nth-child(356) {
  animation-delay: -1.953s;
  background-color: #b5ff66;
  transform: translate(48vw, 13vh) rotate(45deg);
}
.particle:nth-child(357) {
  animation-delay: -8.5425s;
  background-color: #66d9ff;
  transform: translate(20vw, 74vh) rotate(45deg);
}
.particle:nth-child(358) {
  animation-delay: -0.4865s;
  background-color: #66ff85;
  transform: translate(55vw, 9vh) rotate(45deg);
}
.particle:nth-child(359) {
  animation-delay: -0.7245s;
  background-color: #ff66a1;
  transform: translate(28vw, 98vh) rotate(45deg);
}
.particle:nth-child(360) {
  animation-delay: -4.828s;
  background-color: #6966ff;
  transform: translate(97vw, 39vh) rotate(45deg);
}
.particle:nth-child(361) {
  animation-delay: -0.759s;
  background-color: #ff668c;
  transform: translate(78vw, 60vh) rotate(45deg);
}
.particle:nth-child(362) {
  animation-delay: -0.292s;
  background-color: #7366ff;
  transform: translate(78vw, 37vh) rotate(45deg);
}
.particle:nth-child(363) {
  animation-delay: -2.75s;
  background-color: #66bfff;
  transform: translate(88vw, 74vh) rotate(45deg);
}
.particle:nth-child(364) {
  animation-delay: -9.384s;
  background-color: #666bff;
  transform: translate(21vw, 80vh) rotate(45deg);
}
.particle:nth-child(365) {
  animation-delay: -1.078s;
  background-color: #70ff66;
  transform: translate(66vw, 9vh) rotate(45deg);
}
.particle:nth-child(366) {
  animation-delay: -0.364s;
  background-color: #66ffb0;
  transform: translate(83vw, 74vh) rotate(45deg);
}
.particle:nth-child(367) {
  animation-delay: -3.174s;
  background-color: #66ff6e;
  transform: translate(9vw, 96vh) rotate(45deg);
}
.particle:nth-child(368) {
  animation-delay: -2.9415s;
  background-color: #bdff66;
  transform: translate(47vw, 10vh) rotate(45deg);
}
.particle:nth-child(369) {
  animation-delay: -6.006s;
  background-color: #b866ff;
  transform: translate(29vw, 26vh) rotate(45deg);
}
.particle:nth-child(370) {
  animation-delay: -0.9425s;
  background-color: #bdff66;
  transform: translate(41vw, 79vh) rotate(45deg);
}
.particle:nth-child(371) {
  animation-delay: -2.67s;
  background-color: #faff66;
  transform: translate(98vw, 80vh) rotate(45deg);
}
.particle:nth-child(372) {
  animation-delay: -1.7415s;
  background-color: #666bff;
  transform: translate(33vw, 94vh) rotate(45deg);
}
.particle:nth-child(373) {
  animation-delay: -4.752s;
  background-color: #8aff66;
  transform: translate(55vw, 1vh) rotate(45deg);
}
.particle:nth-child(374) {
  animation-delay: -1.708s;
  background-color: #ed66ff;
  transform: translate(21vw, 41vh) rotate(45deg);
}
.particle:nth-child(375) {
  animation-delay: -4.136s;
  background-color: #ffcc66;
  transform: translate(66vw, 35vh) rotate(45deg);
}
.particle:nth-child(376) {
  animation-delay: -3.7125s;
  background-color: #ff6685;
  transform: translate(88vw, 20vh) rotate(45deg);
}
.particle:nth-child(377) {
  animation-delay: -4.7025s;
  background-color: #c766ff;
  transform: translate(51vw, 87vh) rotate(45deg);
}
.particle:nth-child(378) {
  animation-delay: -6.7425s;
  background-color: #66ffd4;
  transform: translate(81vw, 91vh) rotate(45deg);
}
.particle:nth-child(379) {
  animation-delay: -0.918s;
  background-color: #66ff7d;
  transform: translate(52vw, 94vh) rotate(45deg);
}
.particle:nth-child(380) {
  animation-delay: -6.048s;
  background-color: #66fffa;
  transform: translate(34vw, 74vh) rotate(45deg);
}
.particle:nth-child(381) {
  animation-delay: -8.2555s;
  background-color: #ff7866;
  transform: translate(91vw, 5vh) rotate(45deg);
}
.particle:nth-child(382) {
  animation-delay: -3.4125s;
  background-color: #ff7d66;
  transform: translate(36vw, 13vh) rotate(45deg);
}
.particle:nth-child(383) {
  animation-delay: -0.6765s;
  background-color: #66ffa8;
  transform: translate(22vw, 74vh) rotate(45deg);
}
.particle:nth-child(384) {
  animation-delay: -2.15s;
  background-color: #66ffc4;
  transform: translate(6vw, 86vh) rotate(45deg);
}
.particle:nth-child(385) {
  animation-delay: -3.2385s;
  background-color: #66e6ff;
  transform: translate(10vw, 46vh) rotate(45deg);
}
.particle:nth-child(386) {
  animation-delay: -2.573s;
  background-color: #666eff;
  transform: translate(54vw, 60vh) rotate(45deg);
}
.particle:nth-child(387) {
  animation-delay: -5.621s;
  background-color: #6966ff;
  transform: translate(28vw, 21vh) rotate(45deg);
}
.particle:nth-child(388) {
  animation-delay: -0.76s;
  background-color: #9166ff;
  transform: translate(93vw, 26vh) rotate(45deg);
}
.particle:nth-child(389) {
  animation-delay: -0.858s;
  background-color: #ff66ed;
  transform: translate(18vw, 95vh) rotate(45deg);
}
.particle:nth-child(390) {
  animation-delay: -0.357s;
  background-color: #faff66;
  transform: translate(25vw, 3vh) rotate(45deg);
}
.particle:nth-child(391) {
  animation-delay: -2.3715s;
  background-color: #6685ff;
  transform: translate(10vw, 48vh) rotate(45deg);
}
.particle:nth-child(392) {
  animation-delay: -1.0865s;
  background-color: #ffff66;
  transform: translate(56vw, 77vh) rotate(45deg);
}
.particle:nth-child(393) {
  animation-delay: -3.175s;
  background-color: #66ff75;
  transform: translate(91vw, 32vh) rotate(45deg);
}
.particle:nth-child(394) {
  animation-delay: -1.924s;
  background-color: #ff668a;
  transform: translate(73vw, 33vh) rotate(45deg);
}
.particle:nth-child(395) {
  animation-delay: -6.596s;
  background-color: #ff6680;
  transform: translate(93vw, 53vh) rotate(45deg);
}
.particle:nth-child(396) {
  animation-delay: -0.3s;
  background-color: #ff66d4;
  transform: translate(13vw, 100vh) rotate(45deg);
}
.particle:nth-child(397) {
  animation-delay: -3.382s;
  background-color: #66abff;
  transform: translate(10vw, 76vh) rotate(45deg);
}
.particle:nth-child(398) {
  animation-delay: -0.102s;
  background-color: #667aff;
  transform: translate(75vw, 17vh) rotate(45deg);
}
.particle:nth-child(399) {
  animation-delay: -3.936s;
  background-color: #ba66ff;
  transform: translate(57vw, 43vh) rotate(45deg);
}
.particle:nth-child(400) {
  animation-delay: -4.554s;
  background-color: #7366ff;
  transform: translate(85vw, 55vh) rotate(45deg);
}

@keyframes shoot {
  0% {
    transform: translate(50vw, 50vh);
  }
}
@keyframes fade {
  to {
    opacity: 0;
  }
}
